* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light_black: #303030;
  --dark_black: #1c1919;
  --white: #f8f8f8;
  --light_blue: #6a98f0;
  --dark_blue: #5e76ee;
}
